﻿<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Meine ASP.NET-Anwendung</title>

    @Styles.Render(Url.Content("~/Content/template/vendor/bower-jvectormap/jquery-jvectormap-1.2.2.css"))
    @Styles.Render(Url.Content("~/Content/template/vendor/sweetalert/dist/sweetalert.css"))

    <!-- build:css({.tmp,app}) styles/app.min.css -->
    @Styles.Render(Url.Content("~/Content/template/vendor/bootstrap/dist/css/bootstrap.css"))
    @Styles.Render(Url.Content("~/Content/template/vendor/font-awesome/css/font-awesome.css"))
    @Styles.Render(Url.Content("~/Content/template/vendor/animate.css/animate.css"))
    @Styles.Render(Url.Content("~/Content/template/styles/app.css"))
    @Styles.Render(Url.Content("~/Content/template/styles/app.skins.css"))
    <!-- endbuild -->
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <div class="app skin-4">
        <!--sidebar panel-->
@if (User.Identity.IsAuthenticated)
            {
        <div class="off-canvas-overlay" data-toggle="sidebar"></div>
        <div class="sidebar-panel">
            <div class="brand">
                <!-- toggle offscreen menu -->
                <a href="javascript:;" data-toggle="sidebar" class="toggle-offscreen hidden-lg-up">
                    <i class="material-icons">menu</i>
                </a>
                <!-- /toggle offscreen menu -->
                <!-- logo -->
                <a class="brand-logo">
                    <img class="expanding-hidden" src="~/Content/template/images/logo.png" alt="" />
                </a>
                <!-- /logo -->
            </div>
                <div class="nav-profile dropdown">
                    <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
                        <div class="user-image">
                            <img src="/Content/template/images/avatar.jpg" class="avatar img-circle" alt="user" title="user" />
                        </div>
                        <div class="user-info expanding-hidden">
                            @User.Identity.Name
                            @if (Request.Cookies["UserInformation"] != null)
                            {
                                <small class="bold">@Request.Cookies["UserInformation"].Values["Email"].ToString()</small>
                                <small class="bold">@Request.Cookies["UserInformation"].Values["Rolle"].ToString()</small>
                            }
                        </div>
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="javascript:;">Settings</a>
                        <a class="dropdown-item" href="javascript:;">Upgrade</a>
                        <a class="dropdown-item" href="javascript:;">
                            <span>Notifications</span>
                            <span class="tag bg-primary">34</span>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="javascript:;">Help</a>
                        <a class="dropdown-item" href="Login/Logout">Logout</a>
                    </div>
                </div>
                <!-- main navigation -->
                <nav>
                    <p class="nav-title">NAVIGATION</p>
                    <ul class="nav">
                        <!-- dashboard -->
                        <li>
                            <a href="@Url.Action("Index", "Home")">
                                <i class="material-icons text-primary">home</i>
                                <span>Startseite</span>
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "Lieferant")">
                                <i class="material-icons text-primary">home</i>
                                <span>Lieferanten</span>
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "Warengruppe")">
                                <i class="material-icons text-primary">home</i>
                                <span>Warengruppen</span>
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "Artikel")">
                                <i class="material-icons text-primary">home</i>
                                <span>Artikel</span>
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "Beleg")">
                                <i class="material-icons text-primary">home</i>
                                <span>Beleg</span>
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "ArtikelBeleg")">
                                <i class="material-icons text-primary">home</i>
                                <span>ArtikelBeleg</span>
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "Lieferart")">
                                <i class="material-icons text-primary">home</i>
                                <span>Lieferart</span>
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "Personal")">
                                <i class="material-icons text-primary">home</i>
                                <span>Personal</span>
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "Arbeitsvertrag")">
                                <i class="material-icons text-primary">home</i>
                                <span>Arbeitsvertrag</span>
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "Rolle")">
                                <i class="material-icons text-primary">home</i>
                                <span>Rolle</span>
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "RolleRecht")">
                                <i class="material-icons text-primary">home</i>
                                <span>RolleRecht</span>
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "Recht")">
                                <i class="material-icons text-primary">home</i>
                                <span>Recht</span>
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("About", "Home")">
                                <i class="material-icons text-primary">home</i>
                                <span>Info</span>
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Contact", "Home")">
                                <i class="material-icons text-primary">home</i>
                                <span>Kontakt</span>
                            </a>
                        </li>
                        <!-- /dashboard -->
                    </ul>
                </nav>
            <!-- /main navigation -->


        </div>
            }
        <!-- /sidebar panel -->
        <!-- content panel -->
        <div class="main-panel">
            <!-- top header -->
            <nav class="header navbar">
                <div class="header-inner search-focus">
                    <div class="navbar-item navbar-spacer-right brand hidden-lg-up">
                        <!-- toggle offscreen menu -->
                        <a href="javascript:;" data-toggle="sidebar" class="toggle-offscreen">
                            <i class="material-icons">menu</i>
                        </a>
                        <!-- /toggle offscreen menu -->
                        <!-- logo -->
                        <a class="brand-logo hidden-xs-down">
                            <img src="~/Content/template/images/logo_white.png" alt="logo" />
                        </a>
                        <!-- /logo -->
                    </div>
                    <a class="navbar-item navbar-spacer-right navbar-heading hidden-md-down" href="#">
                        <span>Dashboard</span>
                    </a>
                </div>
            </nav>
            <!-- /top header -->
            <!-- main area -->
            <div class="main-content">
                <div class="content-view">
                    @RenderBody()
                </div>
                <!-- bottom footer -->
                <div class="content-footer">
                    <nav class="footer-right">
                        <ul class="nav">
                            <li>
                                <a href="javascript:;">Feedback</a>
                            </li>
                        </ul>
                    </nav>
                    <nav class="footer-left">
                        <ul class="nav">
                            <li>
                                <a href="javascript:;">
                                    <span>Copyright</span>
                                    &copy; 2016 Your App
                                </a>
                            </li>
                            <li class="hidden-md-down">
                                <a href="javascript:;">Privacy</a>
                            </li>
                            <li class="hidden-md-down">
                                <a href="javascript:;">Terms</a>
                            </li>
                            <li class="hidden-md-down">
                                <a href="javascript:;">help</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <!-- /bottom footer -->
            </div>
            <!-- /main area -->
        </div>
        <!-- /content panel -->
        <!--Chat panel-->
        <div class="modal fade sidebar-modal chat-panel" tabindex="-1" role="dialog" aria-labelledby="chat-panel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="chat-header">
                        <a class="pull-right" href="javascript:;" data-dismiss="modal">
                            <i class="material-icons">close</i>
                        </a>
                        <div class="chat-header-title">People</div>
                    </div>
                    <div class="modal-body flex scroll-y">
                        <div class="chat-group">
                            <div class="chat-group-header">Favourites</div>
                            <a href="javascript:;" data-toggle="modal" data-target=".chat-message">
                                <span class="status-online"></span>
                                <span>Catherine Moreno</span>
                            </a>
                            <a href="javascript:;" data-toggle="modal" data-target=".chat-message">
                                <span class="status-online"></span>
                                <span>Denise Peterson</span>
                            </a>
                            <a href="javascript:;" data-toggle="modal" data-target=".chat-message">
                                <span class="status-away"></span>
                                <span>Charles Wilson</span>
                            </a>
                            <a href="javascript:;" data-toggle="modal" data-target=".chat-message">
                                <span class="status-away"></span>
                                <span>Melissa Welch</span>
                            </a>
                            <a href="javascript:;" data-toggle="modal" data-target=".chat-message">
                                <span class="status-no-disturb"></span>
                                <span>Vincent Peterson</span>
                            </a>
                            <a href="javascript:;" data-toggle="modal" data-target=".chat-message">
                                <span class="status-offline"></span>
                                <span>Pamela Wood</span>
                            </a>
                        </div>
                        <div class="chat-group">
                            <div class="chat-group-header">Online</div>
                            <a href="javascript:;" data-toggle="modal" data-target=".chat-message">
                                <span class="status-online"></span>
                                <span>Tammy Carpenter</span>
                            </a>
                            <a href="javascript:;" data-toggle="modal" data-target=".chat-message">
                                <span class="status-away"></span>
                                <span>Emma Sullivan</span>
                            </a>
                            <a href="javascript:;" data-toggle="modal" data-target=".chat-message">
                                <span class="status-no-disturb"></span>
                                <span>Andrea Brewer</span>
                            </a>
                            <a href="javascript:;" data-toggle="modal" data-target=".chat-message">
                                <span class="status-online"></span>
                                <span>Betty Simmons</span>
                            </a>
                        </div>
                        <div class="chat-group">
                            <div class="chat-group-header">Other</div>
                            <a href="javascript:;" data-toggle="modal" data-target=".chat-message">
                                <span class="status-offline"></span>
                                <span>Denise Peterson</span>
                            </a>
                            <a href="javascript:;" data-toggle="modal" data-target=".chat-message">
                                <span class="status-offline"></span>
                                <span>Jose Rivera</span>
                            </a>
                            <a href="javascript:;" data-toggle="modal" data-target=".chat-message">
                                <span class="status-offline"></span>
                                <span>Diana Robertson</span>
                            </a>
                            <a href="javascript:;" data-toggle="modal" data-target=".chat-message">
                                <span class="status-offline"></span>
                                <span>William Fields</span>
                            </a>
                            <a href="javascript:;" data-toggle="modal" data-target=".chat-message">
                                <span class="status-offline"></span>
                                <span>Emily Stanley</span>
                            </a>
                            <a href="javascript:;" data-toggle="modal" data-target=".chat-message">
                                <span class="status-offline"></span>
                                <span>Jack Hunt</span>
                            </a>
                            <a href="javascript:;" data-toggle="modal" data-target=".chat-message">
                                <span class="status-offline"></span>
                                <span>Sharon Rice</span>
                            </a>
                            <a href="javascript:;" data-toggle="modal" data-target=".chat-message">
                                <span class="status-offline"></span>
                                <span>Mary Holland</span>
                            </a>
                            <a href="javascript:;" data-toggle="modal" data-target=".chat-message">
                                <span class="status-offline"></span>
                                <span>Diane Hughes</span>
                            </a>
                            <a href="javascript:;" data-toggle="modal" data-target=".chat-message">
                                <span class="status-offline"></span>
                                <span>Steven Smith</span>
                            </a>
                            <a href="javascript:;" data-toggle="modal" data-target=".chat-message">
                                <span class="status-offline"></span>
                                <span>Emily Henderson</span>
                            </a>
                            <a href="javascript:;" data-toggle="modal" data-target=".chat-message">
                                <span class="status-offline"></span>
                                <span>Wayne Kelly</span>
                            </a>
                            <a href="javascript:;" data-toggle="modal" data-target=".chat-message">
                                <span class="status-offline"></span>
                                <span>Jane Garcia</span>
                            </a>
                            <a href="javascript:;" data-toggle="modal" data-target=".chat-message">
                                <span class="status-offline"></span>
                                <span>Jose Jimenez</span>
                            </a>
                            <a href="javascript:;" data-toggle="modal" data-target=".chat-message">
                                <span class="status-offline"></span>
                                <span>Rachel Burton</span>
                            </a>
                            <a href="javascript:;" data-toggle="modal" data-target=".chat-message">
                                <span class="status-offline"></span>
                                <span>Samantha Ruiz</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade chat-message" tabindex="-1" role="dialog" aria-labelledby="chat-message" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="chat-header">
                        <div class="pull-right dropdown">
                            <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="material-icons">more_vert</i>
                            </a>
                            <div class="dropdown-menu" role="menu">
                                <a class="dropdown-item" href="javascript:;">Profile</a>
                                <a class="dropdown-item" href="javascript:;">Clear messages</a>
                                <a class="dropdown-item" href="javascript:;">Delete conversation</a>
                                <a class="dropdown-item" href="javascript:;" data-dismiss="modal">Close chat</a>
                            </div>
                        </div>
                        <div class="chat-conversation-title">
                            <img src="~/Content/template/images/face1.jpg" class="avatar avatar-xs img-circle m-r-1 pull-left" alt="">
                            <div class="overflow-hidden">
                                <span><strong>Charles Wilson</strong></span>
                                <small>Last seen today at 03:11</small>
                            </div>
                        </div>
                    </div>
                    <div class="modal-body flex scroll-y">
                        <p class="text-xs-center text-muted small text-uppercase bold m-b-1">Yesterday</p>
                        <div class="chat-conversation-user them">
                            <div class="chat-conversation-message">
                                <p>Hey.</p>
                            </div>
                        </div>
                        <div class="chat-conversation-user them">
                            <div class="chat-conversation-message">
                                <p>How are the wife and kids, Taylor?</p>
                            </div>
                        </div>
                        <div class="chat-conversation-user me">
                            <div class="chat-conversation-message">
                                <p>Pretty good, Samuel.</p>
                            </div>
                        </div>
                        <p class="text-xs-center text-muted small text-uppercase bold m-b-1">Today</p>
                        <div class="chat-conversation-user them">
                            <div class="chat-conversation-message">
                                <p>Curabitur blandit tempus porttitor.</p>
                            </div>
                        </div>
                        <div class="chat-conversation-user me">
                            <div class="chat-conversation-message">
                                <p>Goodnight!</p>
                            </div>
                        </div>
                        <div class="chat-conversation-user them">
                            <div class="chat-conversation-message">
                                <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
                            </div>
                        </div>
                    </div>
                    <div class="chat-conversation-footer">
                        <button class="chat-left">
                            <i class="material-icons">face</i>
                        </button>
                        <div class="chat-input" contenteditable=""></div>
                        <button class="chat-right">
                            <i class="material-icons">photo</i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!--/Chat panel-->

    </div>

    <script type="text/javascript">
          window.paceOptions = {
            document: true,
            eventLag: true,
            restartOnPushState: true,
            restartOnRequestAfter: true,
            ajax: {
              trackMethods: [ 'POST','GET']
            }
          };
    </script>

    <!-- build:js({.tmp,app}) scripts/app.min.js -->
    @Scripts.Render("~/Content/template/vendor/jquery/dist/jquery.js")
    @Scripts.Render("~/Content/template/vendor/tether/dist/js/tether.js")
    @Scripts.Render("~/Content/template/vendor/bootstrap/dist/js/bootstrap.js")
    @Scripts.Render("~/Content/template/vendor/fastclick/lib/fastclick.js")
    @Scripts.Render("~/Content/template/scripts/constants.js")
    @Scripts.Render("~/Content/template/scripts/main.js")
    <!-- endbuild -->
    <!-- page scripts -->
    @Scripts.Render("~/Content/template/vendor/flot/jquery.flot.js")
    @Scripts.Render("~/Content/template/vendor/flot/jquery.flot.resize.js")
    @Scripts.Render("~/Content/template/vendor/flot/jquery.flot.stack.js")
    @Scripts.Render("~/Content/template/vendor/flot-spline/js/jquery.flot.spline.js")
    @Scripts.Render("~/Content/template/vendor/bower-jvectormap/jquery-jvectormap-1.2.2.min.js")
    @Scripts.Render("~/Content/template/data/maps/jquery-jvectormap-us-aea.js")
    @Scripts.Render("~/Content/template/vendor/jquery.easy-pie-chart/dist/jquery.easypiechart.js")
    @Scripts.Render("~/Content/template/vendor/noty/js/noty/packaged/jquery.noty.packaged.min.js")
    @Scripts.Render("~/Content/template/scripts/helpers/noty-defaults.js")
    <!-- end page scripts -->
    <!-- initialize page scripts -->
    @Scripts.Render("~/Content/template/scripts/dashboard/dashboard.js")
    @Scripts.Render("~/Content/template/vendor/datatables/media/js/jquery.dataTables.js")
    @Scripts.Render("~/Content/template/vendor/datatables/media/js/dataTables.bootstrap4.js")
    @Scripts.Render("~/Content/template/vendor/sweetalert/dist/sweetalert.min.js")
    <!-- end page scripts -->
    <!-- initialize page scripts -->
    <script type="text/javascript">
        $('.datatable').DataTable({

        });
    </script>

    @RenderSection("scripts", required: false)
</body>
</html>
