@model DAL.Personal

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Personal</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Vorname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vorname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Straße)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Straße)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hausnummer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hausnummer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Zusatz)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Zusatz)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Postleitzahl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Postleitzahl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ort)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ort)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IBAN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IBAN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BIC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BIC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Steuerklasse)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Steuerklasse)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mobil)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mobil)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Arbeitsvertrag.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Arbeitsvertrag.Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rolle.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rolle.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
