@model DAL.Lieferant

@{
    ViewBag.Title = "Edit";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="card">
        <div class="card-header no-bg b-a-0">
            Lieferant bearbeiten
        </div>
        <div class="card-block">
            <p>
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.Id)
            </p>

            <div class="form-group row">
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "col-xs-2 col-form-label" })
                <div class="col-xs-10">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
            </div>



            <div class="form-group row">
                @Html.LabelFor(model => model.Straße, htmlAttributes: new { @class = "col-xs-2 col-form-label" })
                <div class="col-xs-10">
                    @Html.EditorFor(model => model.Straße, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Straße, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group row">
                @Html.LabelFor(model => model.Hausnummer, htmlAttributes: new { @class = "col-xs-2 col-form-label" })
                <div class="col-xs-10">
                    @Html.EditorFor(model => model.Hausnummer, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Hausnummer, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group row">
                @Html.LabelFor(model => model.Zusatz, htmlAttributes: new { @class = "col-xs-2 col-form-label" })
                <div class="col-xs-10">
                    @Html.EditorFor(model => model.Zusatz, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Zusatz, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group row">
                @Html.LabelFor(model => model.Postleitzahl, htmlAttributes: new { @class = "col-xs-2 col-form-label" })
                <div class="col-xs-10">
                    @Html.EditorFor(model => model.Postleitzahl, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Postleitzahl, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group row">
                @Html.LabelFor(model => model.Ort, htmlAttributes: new { @class = "col-xs-2 col-form-label" })
                <div class="col-xs-10">
                    @Html.EditorFor(model => model.Ort, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Ort, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group row">
                @Html.LabelFor(model => model.Telefon, htmlAttributes: new { @class = "col-xs-2 col-form-label" })
                <div class="col-xs-10">
                    @Html.EditorFor(model => model.Telefon, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Telefon, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group row">
                @Html.LabelFor(model => model.Mobil, htmlAttributes: new { @class = "col-xs-2 col-form-label" })
                <div class="col-xs-10">
                    @Html.EditorFor(model => model.Mobil, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Mobil, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group row">
                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "col-xs-2 col-form-label" })
                <div class="col-xs-10">
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group row">
                @Html.LabelFor(model => model.IBAN, htmlAttributes: new { @class = "col-xs-2 col-form-label" })
                <div class="col-xs-10">
                    @Html.EditorFor(model => model.IBAN, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.IBAN, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group row">
                @Html.LabelFor(model => model.BIC, htmlAttributes: new { @class = "col-xs-2 col-form-label" })
                <div class="col-xs-10">
                    @Html.EditorFor(model => model.BIC, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.BIC, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group row">
                <div class="col-xs-10">
                    <input type="submit" value="Save" class="btn btn-primary m-r" />
                </div>
            </div>
        </div>
        </div>
        }

        <div>
            @Html.ActionLink("Back to List", "Index")
        </div>

        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
