@model IEnumerable<DAL.Lieferant>

@{
    ViewBag.Title = "Index";
}

@Html.AntiForgeryToken()
<div class="row">
    <div class="card">
        <div class="card-header no-bg b-a-0">
            Lieferanten
        </div>
        <div class="card-block">
            <p>
                <a href="@Url.Action("Create")" class="btn btn-success"><i class="material-icons text-default">add_circle</i></a>
            </p>
            <table class="table table-hover dt-responsive nowrap datatable" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>
                            #
                        </th>
                        <th></th>
                        <th>
                            <a style="opacity: 0;"><i class="material-icons text-primary">edit</i></a>
                        </th>
                        <th>
                            <a style="opacity: 0;"><i class="material-icons text-primary">delete</i></a>
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Straße)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Hausnummer)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Zusatz)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Postleitzahl)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Ort)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Telefon)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Mobil)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Email)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.IBAN)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.BIC)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {

                        <tr class="mouseEffects">
                            <th scope="row" data-title="#">
                                @Html.DisplayFor(modelItem => item.Id)
                            </th>
                            <th scope="row" class="modalcreate"id="@item.Id">
                                Bestellung
                            </th>
                            <th scope="row" data-title="">
                                <a href="@Url.Action("Edit", new { id = item.Id })"><i class="material-icons text-primary edit"></i></a>
                            </th>
                            <th scope="row" data-title="">
                                <a class="delete-confirmation" id="@Url.Action("Delete", new { id = item.Id })"><i class="material-icons text-primary delete"></i></a>
                            </th>
                            <td data-title="@Html.DisplayNameFor(model => model.Name)">
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td data-title="@Html.DisplayNameFor(model => model.Straße)">
                                @Html.DisplayFor(modelItem => item.Straße)
                            </td>
                            <td data-title="@Html.DisplayNameFor(model => model.Hausnummer)">
                                @Html.DisplayFor(modelItem => item.Hausnummer)
                            </td>
                            <td data-title="@Html.DisplayNameFor(model => model.Zusatz)">
                                @Html.DisplayFor(modelItem => item.Zusatz)
                            </td>
                            <td data-title="@Html.DisplayNameFor(model => model.Postleitzahl)">
                                @Html.DisplayFor(modelItem => item.Postleitzahl)
                            </td>
                            <td data-title="@Html.DisplayNameFor(model => model.Ort)">
                                @Html.DisplayFor(modelItem => item.Ort)
                            </td>
                            <td data-title="@Html.DisplayNameFor(model => model.Telefon)">
                                @Html.DisplayFor(modelItem => item.Telefon)
                            </td>
                            <td data-title="@Html.DisplayNameFor(model => model.Mobil)">
                                @Html.DisplayFor(modelItem => item.Mobil)
                            </td>
                            <td data-title="@Html.DisplayNameFor(model => model.Email)">
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                            <td data-title="@Html.DisplayNameFor(model => model.IBAN)">
                                @Html.DisplayFor(modelItem => item.IBAN)
                            </td>
                            <td data-title="@Html.DisplayNameFor(model => model.BIC)">
                                @Html.DisplayFor(modelItem => item.BIC)
                            </td>
                        </tr>

                    }
                </tbody>
            </table>
            <!-- Modal -->
            <div class="modal fade" id="BestellModal" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Bestellungen</h4>
                        </div>
                        <div class="modal-body">
                            
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
@section scripts {
<script type="text/javascript">
   
    $(".modalcreate").hover((e) => {
        $(e.target).css('cursor', 'pointer');
    })
    $(".modalcreate").click((e) => {
        var lieferantid = e.target.id;

        var relurl = '@Url.Action("Modal", "Lieferant",new {id="buff" })';
        console.log(relurl);
        relurl = relurl.replace("buff", lieferantid);
        console.log(relurl);
        $.ajax({
            url: relurl,
            type: "GET",
            success: function (response) {
                console.log(response);
                $(".modal-body").html(response);
                $("#BestellModal").modal("show");

            }
        })
    });
</script>
}