@model IEnumerable<DAL.Artikel>

@{
    ViewBag.Title = "Index";
}

@Html.AntiForgeryToken()
<div class="row">
    <div class="card">
        <div class="card-header no-bg b-a-0">
            Artikel
        </div>
        <div class="card-block">
            <p>
                <a href="@Url.Action("Create")" class="btn btn-success"><i class="material-icons text-default">add_circle</i></a>
            </p>
            <table class="table table-hover dt-responsive nowrap datatable" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>
                            #
                        </th>
                        <th>
                            <a style="opacity: 0;"><i class="material-icons text-primary">edit</i></a>
                        </th>
                        <th>
                            <a style="opacity: 0;"><i class="material-icons text-primary">delete</i></a>
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.GTIN)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Bestand)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Einheit)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Nettoeinkaufspreis)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Nettoverkaufspreis)
                        </th>
                        <th>
                            Lieferant
                        </th>
                        <th>
                            Warengruppe
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {

                        <tr class="mouseEffects">
                            <th scope="row" data-title="#">
                                @Html.DisplayFor(modelItem => item.Id)
                            </th>
                            <th scope="row" data-title="">
                                <a href="@Url.Action("Edit", new { id = item.Id })"><i class="material-icons text-primary edit"></i></a>
                            </th>
                            <th scope="row" data-title="">
                                <a class="delete-confirmation" id="@Url.Action("Delete", new { id = item.Id })"><i class="material-icons text-primary delete"></i></a>
                            </th>
                            <td data-title="@Html.DisplayNameFor(model => model.Name)">
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td data-title="@Html.DisplayNameFor(model => model.GTIN)">
                                @Html.DisplayFor(modelItem => item.GTIN)
                            </td>
                            <td data-title="@Html.DisplayNameFor(model => model.Bestand)">
                                @Html.DisplayFor(modelItem => item.Bestand)
                            </td>
                            <td data-title="@Html.DisplayNameFor(model => model.Einheit)">
                                @Html.DisplayFor(modelItem => item.Einheit)
                            </td>
                            <td data-title="@Html.DisplayNameFor(model => model.Nettoeinkaufspreis)">
                                @Html.DisplayFor(modelItem => item.Nettoeinkaufspreis)
                            </td>
                            <td data-title="@Html.DisplayNameFor(model => model.Nettoverkaufspreis)">
                                @Html.DisplayFor(modelItem => item.Nettoverkaufspreis)
                            </td>
                            <td data-title="@Html.DisplayNameFor(model => model.Lieferant.Name)">
                                @Html.DisplayFor(modelItem => item.Lieferant.Name)
                            </td>
                            <td data-title="@Html.DisplayNameFor(model => model.Warengruppe.Name)">
                                @Html.DisplayFor(modelItem => item.Warengruppe.Name)
                            </td>
                        </tr>

                    }
                </tbody>
            </table>
        </div>
    </div>
</div>