@model IEnumerable<DAL.Arbeitsvertrag>

@{
    ViewBag.Title = "Index";
}

@Html.AntiForgeryToken()
<div class="row">
    <div class="card">
        <div class="card-header no-bg b-a-0">
            Arbeitsverträge
        </div>
        <div class="card-block">
            <p>
                <a href="@Url.Action("Create")" class="btn btn-success"><i class="material-icons text-default">add_circle</i></a>
            </p>
            <table class="table table-responsive table-hover datatable">
                <thead>
                    <tr>
                        <th>
                            #
                        </th>
                        <th>
                            <a style="opacity: 0;"><i class="material-icons text-primary">edit</i></a>
                        </th>
                        <th>
                            <a style="opacity: 0;"><i class="material-icons text-primary">delete</i></a>
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Wochenstunden)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Stundenlohn)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {

                        <tr class="mouseEffects">
                            <th scope="row" data-title="#">
                                @Html.DisplayFor(modelItem => item.Id)
                            </th>
                            <th scope="row" data-title="">
                                <a href="@Url.Action("Edit", new { id = item.Id })"><i class="material-icons text-primary edit"></i></a>
                            </th>
                            <th scope="row" data-title="">
                                <a class="delete-confirmation" id="@Url.Action("Delete", new { id = item.Id })"><i class="material-icons text-primary delete"></i></a>
                            </th>
                            <td data-title="@Html.DisplayNameFor(model => model.Wochenstunden)">
                                @Html.DisplayFor(modelItem => item.Wochenstunden)
                            </td>
                            <td data-title="@Html.DisplayNameFor(model => model.Stundenlohn)">
                                @Html.DisplayFor(modelItem => item.Stundenlohn)
                            </td>
                        </tr>

                    }
                </tbody>
            </table>
        </div>
    </div>
</div>