@model IEnumerable<DAL.Beleg>

@{
    ViewBag.Title = "Index";
}

@Html.AntiForgeryToken()
<div class="row">
    <div class="card">
        <div class="card-header no-bg b-a-0">
            Belege
        </div>
        <div class="card-block">
            
            <table class="table table-responsive table-hover datatable">
                <thead>
                    <tr>
                        <th>
                            #
                        </th>
                        
                        <th>
                            <a style="opacity: 0;"><i class="material-icons text-primary">delete</i></a>
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Datum)
                        </th>
                        <th>
                            Lieferart
                        </th>
                        <th>Summe</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr class="mouseEffects" data-toggle="collapse" data-target="#artikel_@item.Id">
                            <th scope="row" data-title="#">
                                @Html.DisplayFor(modelItem => item.Id)
                            </th>
                            <th scope="row" data-title="">
                                <a class="delete-confirmation" id="@Url.Action("Delete", new { id = item.Id })"><i class="material-icons text-primary delete"></i></a>
                            </th>
                            <td data-title="@Html.DisplayNameFor(model => model.Datum)" id="@Html.DisplayFor(modelItem => item.Id)">
                                <script type="text/javascript">
                                    window.addEventListener("load", function () {
                                        var obj = currentDateFormatToObj('@Html.DisplayFor(modelItem => item.Datum)');
                                        $('td[id="@Html.DisplayFor(modelItem => item.Id)"]').html(obj.str + ":" + obj.second);
                                    });
                                </script>
                            </td>
                            <td data-title="@Html.DisplayNameFor(model => model.Lieferart.Name)">
                                @Html.DisplayFor(modelItem => item.Lieferart.Name)
                            </td>
                            <td data-title="Summe">
                                @foreach (Helper_BelegSumme helpe in ViewBag.helper)
                                {
                                    if (item.Id == helpe.beleg.Id)
                                    {
                                        @helpe.summe <span>€</span>
                                    }
                                }
                            </td>
                        </tr>
                        <tr id="artikel_@item.Id" class="collapse">
                            <td colspan="3">
                                
                                @foreach (Helper_BelegSumme helpe in ViewBag.helper)
                                {
                                    if (item.Id == helpe.beleg.Id)
                                    {
                                        <table>
                                            <thead>
                                                <tr>
                                                    <th>Artikel</th>
                                                    <th>GTIN</th>
                                                    <th>Nettoverkaufspreis</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            @foreach (var a in helpe.artikels) {
                                                <tr>
                                                    <td>@a.Name</td>
                                                    <td>@a.GTIN</td>
                                                    <td>@a.Nettoverkaufspreis €</td>
                                                </tr>
                                            }
                                                </tbody>
                                        </table>
                                    }
                                }
                            </td>
                        </tr>

                    }
                </tbody>
            </table>
        </div>
    </div>
</div>