@model DAL.Prognose

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Prognose</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Datum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Datum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Abverkauf_soll)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Abverkauf_soll)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Abverkauf_ist)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Abverkauf_ist)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Artikel.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Artikel.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
