﻿<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Meine ASP.NET-Anwendung</title>

    @Styles.Render(Url.Content("~/Content/template/vendor/bower-jvectormap/jquery-jvectormap-1.2.2.css"))
    @Styles.Render(Url.Content("~/Content/template/vendor/datatables/media/css/dataTables.bootstrap4.css"))
    @Styles.Render(Url.Content("~/Content/template/vendor/sweetalert/dist/sweetalert.css"))
    @Styles.Render(Url.Content("~/Content/template/vendor/fullcalendar/dist/fullcalendar.min.css"))

    <!-- build:css({.tmp,app}) styles/app.min.css -->
    @Styles.Render(Url.Content("~/Content/template/vendor/bootstrap/dist/css/bootstrap.css"))
    @Styles.Render(Url.Content("~/Content/template/vendor/font-awesome/css/font-awesome.css"))
    @Styles.Render(Url.Content("~/Content/template/vendor/animate.css/animate.css"))
    @Styles.Render(Url.Content("~/Content/template/styles/app.css"))
    @Styles.Render(Url.Content("~/Content/template/styles/app.skins.css"))
    <!-- endbuild -->
    @Styles.Render("~/Content/schichtplaner.css")
    @Styles.Render("~/Content/jquery.timepicker.min.css");
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <div class="app skin-4">
        <!--sidebar panel-->
        @if (User.Identity.IsAuthenticated)
        {
            <div class="off-canvas-overlay" data-toggle="sidebar"></div>
            <div class="sidebar-panel">
                <div class="brand">
                    <!-- toggle offscreen menu -->
                    <a href="javascript:;" data-toggle="sidebar" class="toggle-offscreen hidden-lg-up">
                        <i class="material-icons">menu</i>
                    </a>
                    <!-- /toggle offscreen menu -->
                    <!-- logo -->
                    <a class="brand-logo">
                        <img class="expanding-hidden" src="~/Content/template/images/onlinelogomaker-022817-1749-7556.png" alt="" />
                    </a>
                    <!-- /logo -->
                </div>
                <!-- main navigation -->
                <nav>
                    <p class="nav-title">NAVIGATION</p>
                    <ul class="nav">
                        <!-- dashboard -->
                        <li>
                            <a href="@Url.Action("Index", "Plan")">
                                <i class="material-icons text-primary">perm_contact_calendar</i>
                                <span>Plan</span>
                            </a>
                        </li>
                        <!-- /dashboard -->
                    </ul>
                </nav>
                <!-- /main navigation -->


            </div>
        }
        <!-- /sidebar panel -->
        <!-- content panel -->
        <div class="main-panel">
            <!-- top header -->
            <nav class="header navbar">
                <div class="header-inner">
                    <div class="navbar-item navbar-spacer-right brand hidden-lg-up">
                        <!-- toggle offscreen menu -->
                        <a href="javascript:;" data-toggle="sidebar" class="toggle-offscreen">
                            <i class="material-icons">menu</i>
                        </a>
                        <!-- /toggle offscreen menu -->
                        <!-- logo -->
                        <a class="brand-logo hidden-xs-down">
                            <img src="~/Content/template/images/onlinelogomaker-022817-1747-1697.png" alt="logo" />
                        </a>
                        <!-- /logo -->
                    </div>
                    <a class="navbar-item navbar-spacer-right navbar-heading hidden-md-down" href="#">
                        <span>Administration</span>
                    </a>
                    <div class="navbar-item nav navbar-nav">
                        <div class="nav-item nav-link dropdown">
                            <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
                                <span>Hallo @Session["Vorname"] @Session["Name"]</span>
                                <span class="menu-caret">
                                    <i class="material-icons">arrow_drop_down</i>
                                </span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" href="Login/Logout">Logout</a>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
            <!-- /top header -->
            <!-- main area -->
            <div class="main-content">
                <div class="content-view">
                    @RenderBody()
                </div>
                <!-- bottom footer -->
                <div class="content-footer">
                    <nav class="footer-left">
                        <ul class="nav">
                            <li>
                                <a href="javascript:;">
                                    <span>Copyright</span>
                                    &copy; 2016 Your App
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <!-- /bottom footer -->
            </div>
            <!-- /main area -->
        </div>
        <!-- /content panel -->
    </div>

    <script type="text/javascript">
        window.paceOptions = {
            document: true,
            eventLag: true,
            restartOnPushState: true,
            restartOnRequestAfter: true,
            ajax: {
                trackMethods: ['POST', 'GET']
            }
        };
    </script>

    <!-- build:js({.tmp,app}) scripts/app.min.js -->
    @Scripts.Render("~/Content/template/vendor/jquery/dist/jquery.js")
    @Scripts.Render("~/Content/template/vendor/tether/dist/js/tether.js")
    @Scripts.Render("~/Content/template/vendor/bootstrap/dist/js/bootstrap.js")
    @Scripts.Render("~/Content/template/vendor/fastclick/lib/fastclick.js")
    @Scripts.Render("~/Content/template/scripts/constants.js")
    @Scripts.Render("~/Content/template/scripts/main.js")
    <!-- endbuild -->
    <!-- page scripts -->
    @Scripts.Render("~/Content/template/vendor/flot/jquery.flot.js")
    @Scripts.Render("~/Content/template/vendor/flot/jquery.flot.resize.js")
    @Scripts.Render("~/Content/template/vendor/flot/jquery.flot.stack.js")
    @Scripts.Render("~/Content/template/vendor/flot-spline/js/jquery.flot.spline.js")
    @Scripts.Render("~/Content/template/vendor/bower-jvectormap/jquery-jvectormap-1.2.2.min.js")
    @Scripts.Render("~/Content/template/data/maps/jquery-jvectormap-us-aea.js")
    @Scripts.Render("~/Content/template/vendor/jquery.easy-pie-chart/dist/jquery.easypiechart.js")
    @Scripts.Render("~/Content/template/vendor/noty/js/noty/packaged/jquery.noty.packaged.min.js")
    @Scripts.Render("~/Content/template/scripts/helpers/noty-defaults.js")
    <!-- end page scripts -->
    <!-- initialize page scripts -->
    @Scripts.Render("~/Content/template/scripts/dashboard/dashboard.js")
    @Scripts.Render("~/Content/template/vendor/datatables/media/js/jquery.dataTables.js")
    @Scripts.Render("~/Content/template/vendor/datatables/media/js/dataTables.bootstrap4.js")
    @Scripts.Render("~/Content/template/vendor/sweetalert/dist/sweetalert.min.js")
    <!-- calender -->
    @Scripts.Render("~/Content/template/vendor/moment/min/moment.min.js")
    @Scripts.Render("~/Content/template/vendor/jquery.ui/ui/core.js")
    @Scripts.Render("~/Content/template/vendor/jquery.ui/ui/widget.js")
    @Scripts.Render("~/Content/template/vendor/jquery.ui/ui/mouse.js")
    @Scripts.Render("~/Content/template/vendor/jquery.ui/ui/draggable.js")
    @Scripts.Render("~/Content/template/vendor/jqueryui-touch-punch/jquery.ui.touch-punch.js")
    @Scripts.Render("~/Content/template/vendor/fullcalendar/dist/fullcalendar.min.js")
    @Scripts.Render("~/Content/template/vendor/fullcalendar/dist/gcal.js")
    <!-- data for calender-->
    @Scripts.Render("~/Content/template/scripts/app/calendar.js")
    <!-- end page scripts -->
    @Scripts.Render("~/Scripts/jquery.timepicker.min.js")
    <!-- initialize page scripts -->
    <script type="text/javascript">
        $('.datatable').DataTable({

        });
    </script>

    @RenderSection("scripts", required: false)
</body>
</html>