@{
    ViewBag.Title = "Home Page";
}
<div class="row">
    @foreach (MiniStatistik miniStatistik in Model)
    {
        <div class="col-sm-6 col-md-4 col-lg-2">
            <div class="card card-block">
                <h5 class="m-b-0 v-align-middle text-overflow">
                    <span class="small pull-xs-right">
                        @if(miniStatistik.Prozent != 0) {
                            <i class="material-icons text-success" style="width: 16px;">arrow_drop_up</i>
                            <span style="line-height: 24px;">@miniStatistik.Prozent%</span>
                        }
                    </span>
                    <span>@miniStatistik.Wert @miniStatistik.Einheit</span>
                </h5>
                <div class="small text-overflow text-muted">
                    @miniStatistik.Name
                </div>
                <div class="small text-overflow">
                    Updated:&nbsp;<span>@DateTime.Now.ToShortTimeString()</span>
                </div>
            </div>
        </div>
    }
     </div>
<div class="row">
    <div class="card">
        <div class="card-block">
            <h5 class="m-b-0 v-align-middle text-overflow">
                <span>Personaleinsatzplanung</span>
                </h5>
            <div class="fullcalendar"></div>
        </div>
    </div>
</div>

            