@model DAL.PersonalRolle

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PersonalRolle</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Personal.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Personal.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rolle.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rolle.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
